/** Général PC */


body
{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 962px;
}

h1
{
    font-size: 18px;
}

h2
{
    font-size: 16px;
}


h3
{
    font-size: 14px;
}



/** Header PC */
header
{
    display: flex;
    justify-content: space-between;
}


header nav ul
{
    height: 100%;
    list-style-type: none;
    margin: auto;
    display: flex;
}


header nav ul li
{
    font-size: 14px;
    display: flex;
}


header nav ul li a
{
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


header nav ul li a:hover
{
    color: #0065FC;
    border-top: 2px #0065FC solid;
}



/** Contenu PC */
.recherche
{
    margin: 20px 0;
}

.recherche p
{
    font-size: 13px;
    margin-top: 0;
}

.recherche h1
{
    margin-bottom: 8px;
}

.recherche form
{
    display: flex;
    overflow: hidden;
    height: 40px;
}

.recherche form i
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    background: #F2F2F2;
    font-size: 13px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.recherche form input
{
    border: none;
    font-weight: bold;
    padding: 0 13px;
    height: 100%;
}

.recherche form input:focus
{
    outline: none;
}

.recherche form input[type=search]
{
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
}

.recherche form input[type=search]:focus
{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.recherche form input[type=submit]
{
    cursor: pointer;
    background: #0065FC;
    color: #F2F2F2;
    letter-spacing: 1px;
    font-size: 13px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.recherche form input[type=submit].mobile
{
    visibility: hidden;
    height: 0;
    width: 0;
    padding: 0;
}



#filtres
{
    margin: 20px 0;
    display: flex;

}

#filtres button
{
    font-size: 14px;
    cursor: pointer;
    background: none;
    padding: 0;
    height: 40px;
    border: 2px #d7d7d7 solid;
    border-left: none;
    border-radius: 60px;
    display: flex;
    align-items: center;
}

#filtres button, #filtres p
{
    margin-right: 20px;
    font-weight: bold;
}

#filtres button i
{
    font-size: 14px;
    background: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#filtres button span
{
    padding: 12px;
}

#filtres button:hover span
{
    color: #0065FC;
}

#filtres button:hover i
{
    transform: rotate(720deg);
    transition-duration: 1s;
}


.info
{
    font-size: 12px;
    display: flex;
    align-items: center;
}

.info i
{
    font-size: 12px;
    font-weight: bold;
    color: #0065FC;
    background: none;
    border: 1px #d7d7d7 solid;
    height: 18px;
    width: 18px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}



#conteneur1 .note
{
    font-size: 10px;
}

#conteneur1 .note .fa-star:not(.vide)
{
    color: #0065FC;
}

#conteneur1 .note .vide
{
    color: #d7d7d7;
}



#conteneur1
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#conteneur1 section
{
    background: #F2F2F2;
    padding: 20px 30px;
    border-radius: 20px;
    height: auto;
}



#conteneur1 section:nth-child(1)
{
    margin-right: 15px;
}

#conteneur1 .hebergement_liste
{
    display: flex;
    justify-content: space-between;
}

#conteneur1 .hebergement_liste a p
{
    color: black;
    margin: 5px;
    font-size: 11px;
}

#conteneur1 .hebergement_liste a img
{
    height: 85px;
    width: 170px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

#conteneur1 .hebergement_liste a div
{
    display: flex;
    margin: 5px;
}

#conteneur1 #hebergements .hebergement_liste a:nth-child(2)
{
    margin-right: 20px;
    margin-left: 20px;
}



#conteneur1 section:nth-child(2)
{
    margin-left: 15px;
}

#conteneur1 .populaire_liste
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#conteneur1 #populaire h2 i
{
    float: right;
}

#conteneur1 .populaire_liste a
{
    width: 100%;
    box-sizing: border-box;
}

#conteneur1 .populaire_liste a p:not(.nom_hebergement)
{
    color: black;
    font-size: 11px;
    margin-top: 0;
}

#conteneur1 .populaire_liste a .nom_hebergement
{
    margin-bottom: 5px;
}

#conteneur1 .populaire_liste a img
{
    width: 90px;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    float: left;
    margin-right: 15px;
}

#conteneur1 .populaire_liste a div:not(.note)
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#conteneur1 .populaire_liste a div.note
{
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin-bottom: 5px;
}



#conteneur1 .hebergement_liste a, #conteneur1 .populaire_liste a
{
    padding: 4px;
    background: white;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    font-size: 13px;
    box-shadow: 2px 2px 10px 2px #c9c9c9;
}

#conteneur1 .hebergement_liste a .nom_hebergement, #conteneur1 .populaire_liste a .nom_hebergement
{
    color: black;
    font-weight: bold;
    font-size: 12px;
}

#hebergements, #populaire, #activites, .activite, .activite_liste
{
    display: flex;
    flex-direction: column;
    width: 100%;
}


#hebergements .afficher_plus
{
    color: black;
    font-weight: bold;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    text-align: left;
}






#conteneur2
{
    margin-top: 50px;
}



#activites h2
{
    margin-bottom: 20px;
}

#activites .activite
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#activites .activite a p
{
    padding-left: 15px;
}

#activites .activite_liste
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
}

#activites .activite_liste a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 1px 1px 6px 4px #F2F2F2;
    overflow: hidden;
    width: 220px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 330px;
}

#activites .activite_liste div a
{
    height: 150px;
}

#activites .activite_liste a div
{
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#activites .activite_liste a div img
{

    min-width: 460px;
    min-height: 330px;
    height: 100%;
    width: 100%;
}

#activites .activite_liste div a div img
{
    min-width: 210px;
    min-height: 160px;
    height: 100%;
    width: 100%;
}


#activites .activite_liste div

{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/** Footer */
footer
{
    background: #F2F2F2;
    display: flex;
    margin: 50px -15px 0;
    padding-bottom: 30px;
    padding-top: 20px;
}

footer div
{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

footer div:nth-child(1)
{
    padding-left: 15px;
}

footer div a
{
    text-decoration: none;
    font-size: 13px;
    color: black;
    margin-bottom: 9px;
}





@media screen and (max-width: 767px) {

    /** General mobile */
    body
    {
        max-width: initial;
        width: auto;
        padding: 0;
    }

    h1
    {
        font-size: 28px;
    }

    h2
    {
        font-size: 26px;
    }


    h3
    {
        font-size: 22px;
    }



    /** header mobile */
    header
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header #logo
    {
        margin-top: 20px;
        height: 10%;
        width: 20%;
    }

    header nav
    {
        margin-top: 40px;
        width: 100%;
    }

    header nav ul
    {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    header nav ul li
    {
        width: 50%;
        font-size: 22px;
    }

    header nav ul li a
    {
        width: 100%;
        justify-content: center;
        padding: 0 0 10px 0;
        border-bottom: 3px #F2F2F2 solid;
    }

    header nav ul li a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px #0065FC solid;
    }



    /** contenu mobile */
    main .recherche, main #filtres, main .info
    {
        padding: 0 20px;
    }



    main .recherche p
    {
        font-size: 20px;
    }

    main .recherche form
    {
        height: 60px;
    }

    main .recherche form i
    {
        font-size: 18px;
        height: 60px;
        width: 60px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    main .recherche form input[type=search]
    {
        max-width: 300px;
        width: 100%;
        margin-right: -14px;
        font-size: 22px;
    }

    main .recherche form input[type=submit].ordinateur
    {
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
    }

    main .recherche form input[type=submit].mobile
    {
        visibility: initial;
        padding: 0 12px;
        height: 60px;
        width: 60px;
        font-size: 18px;
        border-radius: 20px;
    }


    #filtres
    {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #filtres p
    {
        width: 100%;
        font-size: 22px;
    }

    #filtres button
    {
        margin-bottom: 15px;
        margin-right: 10px;
        font-size: 20px;
        height: 60px;
    }

    #filtres button i
    {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }

    #filtres button span
    {
        padding: 12px 17px 12px 15px;
    }


    .info
    {
        font-size: 19px;
    }

    .info i
    {
        font-size: 16px;
        padding: 6px;
        border-radius: 100px;
    }



    #conteneur1
    {
        flex-direction: column-reverse;
    }

    #conteneur1 #populaire, #conteneur1 #hebergements, #conteneur2 #activites
    {
        box-sizing: border-box;
        margin-left: 0;
        border-radius: initial;
    }

    #conteneur1 #hebergements
    {
        background: none;
    }

    #conteneur1 .populaire_liste *
    {
        box-sizing: border-box;
    }

    #conteneur1 .populaire_liste a img
    {
        height: 150px;
        width: 150px;
    }

    #conteneur1 .hebergement_liste a .nom_hebergement, #conteneur1 .populaire_liste a .nom_hebergement
    {
        font-size: 22px;
        margin-top: 15px;
    }

    #conteneur1 .hebergement_liste a
    {
        box-shadow: 1px 1px 6px 4px #F2F2F2;
    }

    #conteneur1 .hebergement_liste a p, #conteneur1 .populaire_liste a p
    {
        font-size: 18px;
    }

    #conteneur1 .populaire_liste a div
    {
        box-sizing: border-box;
        max-height: none;
        height: 45px;
    }

    #conteneur1 .populaire_liste a div i, #conteneur1 .hebergement_liste a div i
    {
        font-size: 17px;
    }

    #conteneur1 .hebergement_liste
    {
        flex-direction: column;
        max-width: 500px;
    }

    #conteneur1 #hebergements .hebergement_liste a:nth-child(2)
    {
        margin: 0 0 20px;
    }

    #conteneur1 .hebergement_liste a img
    {
        box-sizing: border-box;
        width: 100%;
        height: 130px;
    }

    #conteneur1 .hebergement_liste a *:not(img, i, span, strong)
    {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    #hebergements .afficher_plus
    {
        font-size: 22px;
        background: none;
        padding-left: 0;
    }



    #conteneur2
    {
        margin-top: 10px;
    }

    #activites
    {
        padding: 0 30px;
        flex-direction: column;
    }

    #activites .activite_liste
    {
        max-width: 500px;
    }

    #activites .activite, #activites .activite_liste
    {
        flex-direction: column;
    }

    #activites .activite_liste a, #activites .activite_liste div a
    {
        margin: 20px 0;
        width: 100%;
        height: 220px;
        font-size: 20px;
    }

    #activites .activite_liste a div img, #activites .activite_liste div a div img
    {
        min-width: 100%;
        min-height: 232px;
    }

    #activites .activite_liste:nth-child(2)
    {
        margin-left: 0;
    }



    /** Footer */
    footer
    {
        flex-direction: column;
        margin: 40px 0 0;
        padding: 30px 30px 20px;
    }

    footer div
    {
        width: 100%;
    }

    footer div:nth-child(1)
    {
        padding-left: 0;
    }

    footer div a
    {
        font-size: 19px;
        margin-bottom: 15px;
    }
}
